header {
  background: linear-gradient(to bottom right, #adc5d9, #3c4973);
}

h1 {
  text-align: center;
  color: white;
}

footer {
  margin-left: 100px;
}

form {
  font-size: 20px;
  text-align: center;
}
