header {
  background: linear-gradient(to bottom right, #adc5d9, #3c4973);
}

h1 {
  text-align: center;
  color: white;
}

.formulario-tarjeta {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box1 {
  display: flex;
  flex-direction: column;
}

.box2 {
  display: flex;
  justify-content: center;
}

.box3 {
  display: flex;
  justify-content: center;
}

#inputNombre,
#inputNumero {
  background: #b0babf;
  width: 330px;
  height: 50px;
  font-size: 15px;
  border-radius: 20px;
}

#month,
#year,
#cvv {
  background: #b0babf;
  width: 125px;
  height: 50px;
  font-size: 15px;
  border-radius: 20px;
}

button {
  background: #3c4973;
  width: 160px;
  height: 50px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
}
